In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = {
    'name':['ABC','DEF','GHI','JKL','MNO'],
    'rollno':[1,2,3,4,5],
    'math':[50,60,70,80,90]
}

In [4]:
df = pd.DataFrame(dataset)

In [5]:
df

  name  rollno  math
0  ABC       1    50
1  DEF       2    60
2  GHI       3    70
3  JKL       4    80
4  MNO       5    90

In [6]:
df.isnull()

    name  rollno   math
0  False   False  False
1  False   False  False
2  False   False  False
3  False   False  False
4  False   False  False

In [8]:
df.shape

(5, 3)

In [9]:
df.describe()

         rollno       math
count  5.000000   5.000000
mean   3.000000  70.000000
std    1.581139  15.811388
min    1.000000  50.000000
25%    2.000000  60.000000
50%    3.000000  70.000000
75%    4.000000  80.000000
max    5.000000  90.000000

In [10]:
df.info

<bound method DataFrame.info of   name  rollno  math
0  ABC       1    50
1  DEF       2    60
2  GHI       3    70
3  JKL       4    80
4  MNO       5    90>

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   rollno  5 non-null      int64
 2   math    5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

In [12]:
df.notnull()

   name  rollno  math
0  True    True  True
1  True    True  True
2  True    True  True
3  True    True  True
4  True    True  True

In [13]:
df[(df['math']>80)]

  name  rollno  math
4  MNO       5    90

In [14]:
df.fillna(10)

  name  rollno  math
0  ABC       1    50
1  DEF       2    60
2  GHI       3    70
3  JKL       4    80
4  MNO       5    90

In [15]:
df.dropna()

  name  rollno  math
0  ABC       1    50
1  DEF       2    60
2  GHI       3    70
3  JKL       4    80
4  MNO       5    90

In [16]:
df.replace(to_replace=50, value=100)

  name  rollno  math
0  ABC       1   100
1  DEF       2    60
2  GHI       3    70
3  JKL       4    80
4  MNO       5    90

In [18]:
df.interpolate(method='linear', limit_direction='backward')

  name  rollno  math
0  ABC       1    50
1  DEF       2    60
2  GHI       3    70
3  JKL       4    80
4  MNO       5    90

In [19]:
df[(df['rollno']>2) | (df['math']>60)]

  name  rollno  math
2  GHI       3    70
3  JKL       4    80
4  MNO       5    90

In [21]:
df[(df['rollno']>2) & (df['math']>60)]

  name  rollno  math
2  GHI       3    70
3  JKL       4    80
4  MNO       5    90

In [20]:
test = np.where(df['math']>=70)
df.drop(test[0],inplace=False)

  name  rollno  math
0  ABC       1    50
1  DEF       2    60