<a href="https://colab.research.google.com/github/chitoge729/TE_DSBDA/blob/main/DSBDA_Asgn_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [8]:
dataset = {
    'name' : ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQR', 'STU', 'VWX', 'YZ'],
    'roll_no' : [1, 2, 3, 4, 5, 6, 7, 8, 9],
    'marks' : [78, 89, 76, 90, 92, 56, 99, 65, 82]
}

In [3]:
df = pd.DataFrame(dataset)

In [4]:
df

  name  roll_no  marks
0  ABC        1     78
1  DEF        2     89
2  GHI        3     76
3  JKL        4     90
4  MNO        5     92
5  PQR        6     56
6  STU        7     99
7  VWX        8     65
8   YZ        9     82

In [5]:
df.isnull()

    name  roll_no  marks
0  False    False  False
1  False    False  False
2  False    False  False
3  False    False  False
4  False    False  False
5  False    False  False
6  False    False  False
7  False    False  False
8  False    False  False

In [7]:
df.shape

(9, 3)

In [9]:
df.describe()

        roll_no      marks
count  9.000000   9.000000
mean   5.000000  80.777778
std    2.738613  13.718398
min    1.000000  56.000000
25%    3.000000  76.000000
50%    5.000000  82.000000
75%    7.000000  90.000000
max    9.000000  99.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     9 non-null      object
 1   roll_no  9 non-null      int64
 2   marks    9 non-null      int64
dtypes: int64(2), object(1)
memory usage: 344.0+ bytes

In [11]:
df.info

<bound method DataFrame.info of   name  roll_no  marks
0  ABC        1     78
1  DEF        2     89
2  GHI        3     76
3  JKL        4     90
4  MNO        5     92
5  PQR        6     56
6  STU        7     99
7  VWX        8     65
8   YZ        9     82>

In [12]:
df.notnull()

   name  roll_no  marks
0  True     True   True
1  True     True   True
2  True     True   True
3  True     True   True
4  True     True   True
5  True     True   True
6  True     True   True
7  True     True   True
8  True     True   True

In [14]:
df[(df['marks']>80)]

  name  roll_no  marks
1  DEF        2     89
3  JKL        4     90
4  MNO        5     92
6  STU        7     99
8   YZ        9     82

In [15]:
df.fillna(78)

  name  roll_no  marks
0  ABC        1     78
1  DEF        2     89
2  GHI        3     76
3  JKL        4     90
4  MNO        5     92
5  PQR        6     56
6  STU        7     99
7  VWX        8     65
8   YZ        9     82

In [16]:
df.dropna()

  name  roll_no  marks
0  ABC        1     78
1  DEF        2     89
2  GHI        3     76
3  JKL        4     90
4  MNO        5     92
5  PQR        6     56
6  STU        7     99
7  VWX        8     65
8   YZ        9     82

In [17]:
df.replace(to_replace=56, value=86)

  name  roll_no  marks
0  ABC        1     78
1  DEF        2     89
2  GHI        3     76
3  JKL        4     90
4  MNO        5     92
5  PQR        6     86
6  STU        7     99
7  VWX        8     65
8   YZ        9     82

In [18]:
df.interpolate(method='linear', limit_direction='backward')

  name  roll_no  marks
0  ABC        1     78
1  DEF        2     89
2  GHI        3     76
3  JKL        4     90
4  MNO        5     92
5  PQR        6     56
6  STU        7     99
7  VWX        8     65
8   YZ        9     82

In [22]:
df[(df['roll_no']>3) | (df['marks']>80)]     #OR operation

  name  roll_no  marks
1  DEF        2     89
3  JKL        4     90
4  MNO        5     92
5  PQR        6     56
6  STU        7     99
7  VWX        8     65
8   YZ        9     82

In [20]:
df[(df['roll_no']>3) & (df['marks']>80)]     #AND operation

  name  roll_no  marks
3  JKL        4     90
4  MNO        5     92
6  STU        7     99
8   YZ        9     82

In [24]:
test = np.where(df['marks']>70)

In [26]:
df.drop(test[0],inplace=False)

  name  roll_no  marks
5  PQR        6     56
7  VWX        8     65